*:not(.codicon, .menubar-menu-button > *, .icon) {
  font-family: "JetBrainsMono Nerd Font" !important;
  font-style: normal !important;
}
.monaco-list[aria-label^="Your Code installation"] {
  display: none !important;
}

.monaco-list[aria-label^="Your Cursor installation"] {
  display: none !important;
}
